<header>
  <app-nav-bar></app-nav-bar>
</header>
<div> Aici e ce cauti: {{userId}}</div>

<!--<div>-->
<!--  <mat-card class="user-card">-->
<!--    <mat-card-title>Registration Form</mat-card-title>-->
<!--    <hr>-->
<!--    <form>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Email Address</mat-label>-->
<!--        <input matInput  value="{{user.email}}" name="email" type="email" ngModel email="true">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Password</mat-label>-->
<!--        <input matInput type="password"  name="password">-->
<!--      </mat-form-field>-->
<!--      <br>-->
<!--      <mat-form-field>-->
<!--        <mat-label>First Name</mat-label>-->
<!--        <input matInput  name="firstname">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Last Name</mat-label>-->
<!--        <input matInput  name="lastName">-->
<!--      </mat-form-field>-->
<!--      <br>-->
<!--      <mat-form-field class="countryCityZipCode">-->
<!--        <mat-label>Country</mat-label>-->
<!--        <input matInput  name="coutry">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="countryCityZipCode">-->
<!--        <mat-label>City</mat-label>-->
<!--        <input matInput  name="city">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="countryCityZipCode">-->
<!--        <mat-label>Zip Code</mat-label>-->
<!--        <input matInput  name="zipcode" type="number">-->
<!--      </mat-form-field>-->
<!--      <br>-->
<!--      <mat-form-field class="address">-->
<!--        <mat-label>Street</mat-label>-->
<!--        <input matInput name="street">-->
<!--      </mat-form-field>-->
<!--      <br>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Role</mat-label>-->
<!--        <mat-select name = "role" >-->
<!--          <mat-option ></mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Notification Type</mat-label>-->
<!--        <mat-select name = "notification" >-->
<!--          <mat-option></mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <br>-->
<!--      <button mat-raised-button>Update</button>-->
<!--      <button mat-raised-button>Cancel</button>-->
<!--    </form>-->
<!--  </mat-card>-->
<!--</div>-->
