.example-tree-invisible {
  display: none;
}

.mat-icon-button{
  width: 20px;
}

.add-icon-wrapper{
  font-size: 18px;
  color: green;
}

.edit-icon-wrapper{
  font-size: 18px;
  color: #3f51b5;
}

.delete-icon-wrapper{
  font-size: 18px;
  color: crimson;
}

.category-item {
  color: #3f51b5;
}

.main-category-item {
  color: #3f51b5;
  font-weight: bold;
}

* {
  background-color: aliceblue;
}

[mat-dialog-title]{
  color: red ;
}
