.example-tree-invisible {
  display: none;
}

.category-tree-view li,
.category-tree-view.ul {
  list-style-type: none;
}

.category-element{
  display: inline;
}

.category-tree-view ul {
  margin: 0px;
}

.category-item {
  display: inline;
}

.icon-wrapper{
  font-size: 18px;
  padding: 1px;
}
