mat-card {
  display: flex;
  background-color: aliceblue ;
  border: blue solid 2px;
  border-radius: 2em;
  width: 700px;
  height: 300px;
  margin-top: 5%;
  margin-left: 32%;

}

mat-card-title {
  font-size: 24px;
  align-self: center;
  color: red;
  font-weight: bolder;
}

mat-label {
  color: blue;
  font-weight: bold;
  font-size: 18px;
}

input{
  size: 400px;
}

.product-form-wrapper {
  width: 90%;
}

.product-description{
  width: 100%;
}

.product-title,.product-thumbnail, .product-price, .product-productType, .product-category, .product-stock{
  width: 45%;
}

.product-thumbnail, .product-productType, .product-stock{
  margin-left: 10%;
}

.create-product-btn {
  color: blue;
  font-weight: bolder;
  background-color: lightblue;
  border-radius: 2em;
  border: 2px solid blue;
  width: 120px;
  height: 40px;
  margin-left: 50%;
  margin-top: 10px;

}

.cancel-btn{
  color: whitesmoke;
  font-weight: bolder;
  background-color: palevioletred;
  border-radius: 2em;
  border: 2px solid red;
  width: 120px;
  height: 40px;
  margin-left: 10px;
}
