<div class="product-list">
  <mat-card class="product_card" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{product.product_name}}</mat-card-title>
      <mat-card-subtitle>{{product.productType}}</mat-card-subtitle>
    </mat-card-header>
      <img  mat-card-image src="https://www.pngitem.com/pimgs/m/226-2260649_transparent-arduino-png-arduino-board-png-download.png"/>
    <mat-card-content>
      <p class="paragraph_description">
        {{product.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button disabled>{{product.price}} Ron</button>
      <button mat-button (click)="addProductToCart(product.id)" [disabled]="product.stock === 0 ? true : null"> Add to Cart </button>
    </mat-card-actions>
  </mat-card>
</div>




