.navbar {
  display: flex;
  width: 99vw;
  min-height: 2%;
  max-height: 2%;
  border: solid blue 2px;
  margin-right: 20px;
}

.logo {
  padding-inline: 10px;
  margin-bottom: 5px;
  width: 15vw;
}

.logo-img{
  width: 120px;
  height: 100%;
  margin-left: 100px;
  alignment: left;
}

/* ******************************************* Navigation ******************************************************* */

.navigation {
  /*margin-left: 7%;*/
  width: 53vw;
  alignment: center;
  justify-content: center;
  display: block;
}

.user-nav {
  margin-left: 24%;
  color: blue;
  height: 50%;
  font-size: 30px;
}

.user-nav2 {
  margin-left: 12%;
  margin-top: 2%;
  color: blue;
  height: 50%;
  font-size: 30px;
  /*border: blue solid 2px;*/
}

.user-nav3{
  margin-left: 14%;
  margin-top: 2%;
  color: blue;
  height: 50%;
  font-size: 30px;
  /*border: blue solid 2px;*/
}

#nav-link1, #nav-link2, #nav-link3, #nav-link4, #nav-link5, #nav-link6, #nav-link7, #nav-link8,#nav-link9, #nav-link10, #nav-link11 {
  font-size: 24px;
}

#nav-link5, #nav-link6, #nav-link7, #nav-link8 {
  justify-content: center;
  margin: 5px;
  border: blue solid 2px;
}

#nav-link9, #nav-link10, #nav-link11 {
  justify-content: center;
  margin: 5px;
  border: blue solid 2px;
}

.admin-nav {
  font-size: 20px;
  color: red;
  height: 50%;
}

a.admin-zone {
  font-weight: bolder;
  margin-left:25%;
  padding: 5px;
  border: red solid 2px;
  border-radius: 2em;
}
/* ************************************************************************************************************** */

/* ******************************************* Search Bar ******************************************************* */
.search-bar {
  width: 50%;
  margin-left: 25%;
  display: flex;
}

.search{
  margin-top: 15px;
}

input[type=text]{
  border-radius: 2rem;
  border-color: #3f51b5;
  width: 100%;
  color: #3f51b5;
  font-weight: bold;
  text-align: center;
  -webkit-transition: 1s ease-in-out;
}

textarea:focus, input:focus {
  outline: none;
  border-color: red;
}

.search-box {
  width: 99.3vw;
  height: 50px;
  background-image: linear-gradient(to left, blue, white, blue);
}
/**********************************************************************************************************************/

/* ********************************************* Icon Zone ********************************************************** */

.admin {
  color: blue;
  margin-top: 1%;
  margin-left: 3%;
  padding-left: 10px;
}

/**********************************************************************************************************************/


/* ********************************************* Login Zone ********************************************************* */

.login {
  color: blue;
  margin-left: 10%;
  margin-top: 1%;
}

.welcomme {
  font-weight: bolder;
  font-size: 18px;
}


/**********************************************************************************************************************/

/* ********************************************* LogOut Zone ********************************************************* */
.log-out {
  color: blue;
  margin-top: 2%;
  margin-left: 15%;
}

.login-icon{
  font-size: 34px;
}
/**********************************************************************************************************************/
