<main class="navbar">
  <div class="logo">
      <a class="navbar-item">
        <img class ="logo-img" src="assets/img/SDA%20Store%20Logo.png" alt="">
      </a>
  </div>
  <div class="nav-and-search">
    <div class="navigation">
      <a mat-button routerLink="/products">Home</a>
      <a mat-button routerLink="/my-orders">My Orders</a>
      <a mat-button routerLink="/create-product">Create Product</a>
      <a mat-button routerLink="/create-category">Create Category</a>
      <a mat-button routerLink="#">Contact</a>
    </div>

  <!--  // Search bar-->
    <div class="search-bar">
          <input class="search"(keyup)="searchProduct($event)" type="text" >
    </div>
  </div>

<!--  //Shopping Cart and Manage Acount-->
  <div class="ADMIN" *ngIf="role === 'CUSTOMER'">
    <div class="icons" >
      <a mat-button (click)="goToShoppingCart()">
        <mat-icon *ngIf="numberOfProductsInCart === 0; else shoppingcontent">
          <span class="material-icons">
           add_shopping_cart
          </span>
        </mat-icon>
      </a>
        <ng-template #shoppingcontent>
          <mat-icon matBadge = "{{numberOfProductsInCart}}" matBadgeColor="warn">
          <span class="material-icons">
           add_shopping_cart
          </span>
          </mat-icon>
        </ng-template>

      <a mat-button routerLink="#">
        <mat-icon >
          <span class="material-icons">
           manage_accounts
          </span>
        </mat-icon>
      </a>
    </div>
  </div>

<!--  //Login area  -->
<!--  //LogedIn  -->
  <div class="ADMIN" *ngIf="role === 'CUSTOMER' || role === 'ADMINISTRATOR'; else content">
    <div class="log-in">
      <!-- TODO De facut sa apara numele userului Logat -->
      <p class="welcomme" >Welcomme {{userName}}</p>
      <a mat-button (click)="logOut()">
        <label class="logout-label">LogOut</label>
      </a>
    </div>
  </div>
  <!--  // LogedOut-->
  <ng-template #content>
    <div class="log-out">
      <a mat-button routerLink="/login">
        <label class="login-label">Login</label>
        <mat-icon>
          <span class="login-icon">
          account_box
          </span>
        </mat-icon>
      </a>
    </div>
  </ng-template>

</main>
<hr>
