/* ******************************************* Filter ************************************************************ */
.filter-wrapper {
  pos: 0%;
  min-width: 10%;
  max-width: 15%;
  float: left;
  margin-top: 5px;
  margin-left: 15%;
  border: 3px;
  border-radius: 3em;
  color: blue;
  background-color: aliceblue;
}

.mat-card {
  background-color: aliceblue;
}
 /* ******************************************* Product ************************************************************ */
.product-display-wrapper{
   max-width: 1100px;
  float: left;
  margin-left: 50px;
  width: 80%;
 }

.product-list{
  display: block;
  overflow: auto;
}

.product_card{
  min-width: 170px;
  max-width: 170px;
  min-height: 400px;
  max-height: 400px;
  float: left;
  margin: 5px;
  background-color: aliceblue;
}

.mat-card-title {

  width: 170px;
  height: 45px;
}

.mat-card-image{
  width: 190px;
  height: 140px;
}
.mat-card-content{
  margin-bottom: 0px;
  height:90px;
  width: 170px;
}
.price{
  border: blue solid 1px;
  border-radius: 2em;
  display: flex;
}
label{
  margin-left: 55px;
  font-weight: bold;
}

button {
  margin-left: 35px;
}

/* ******************************************* Paginator ************************************************************ */
.paginator-style{
  color: blue;
  font-weight: bold;
}

:host ::ng-deep.mat-paginator-container{
  justify-content: center;
}

:host::ng-deep.mat-paginator-icon{
  color: blue;
}
:host::ng-deep.mat-select-value{
  color: red;
  font-weight: bold;
  align-self: center;
}

:host::ng-deep.mat-select-arrow{
  color: blue;
}

:host::ng-deep.mat-option{
  color: green;
}






