
<!-- Nav Bar -->
<header>
  <app-nav-bar [numberOfProductsInCart]="totalNumberOfElementsInCart" (searchChangeEvent)="filterProducts($event)"></app-nav-bar>
</header>



<div class="page-wrapper">
  <!-- Filter -->
  <div class="filter-wrapper" id="filter">
    <mat-card>
    <h1 style="font-weight: bold; color: #3f51b5">Filter Products</h1>
    <h4 style="color: #3f51b5; margin-top: 30px; font-weight: bold">..by Category</h4>
    <span layout="row" style="margin-top: 0px"><hr flex/>
        <app-categories-tree-view (categoryChangeEvent)="filterProductsByCategory($event)"></app-categories-tree-view>
      <hr flex/></span>
    <br>
    <h4 style="color: #3f51b5; margin-top: 30px; font-weight: bold">..by Price</h4>
    <mat-form-field>
      <mat-label>
        Low price
      </mat-label>
      <input matInput name="low-price-filter" type="number" (keyup)="changeLowPrice($event)">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>
        High price
      </mat-label>
      <input matInput name="high-price-filter" type="number" (keyup)="changeHighPrice($event)">
    </mat-form-field>
    <br>
    <br>
    <h4 style="color: #3f51b5; margin-top: 30px; font-weight: bold">..by Type</h4>
    <mat-form-field>
      <mat-label>
        Product Type
      </mat-label>
      <mat-select name="product-type" (selectionChange)="changeProductType($event)">
        <mat-option *ngFor="let type of productTypes" value="{{type}}">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    </mat-card >
  </div>

  <!-- Product -->
  <div class = "product-display-wrapper">
    <div class="product-list">
      <mat-card class="product_card" *ngFor="let product of products">
        <mat-card-header>
          <mat-card-title>{{product.product_name}}</mat-card-title>
          <mat-card-subtitle>{{product.productType}}</mat-card-subtitle>
        </mat-card-header>
        <img  mat-card-image src="{{product.thumbnail}}"/>
        <mat-card-content>
            {{product.description}}
        </mat-card-content>
          <div class="price">
            <label>
              {{product.price}} Ron
            </label>
          </div>
          <button mat-button (click)="addProductToCart(product.id)" [disabled]="product.stock === 0 ? true : null"> Add to Cart </button>
      </mat-card>
    </div>
    <!-- Paginator -->
    <div class="paginator">
      <mat-paginator class="paginator-style" [length]="totalNumberOfElements" [pageSizeOptions]="[10,20,30]" (page)="changePage($event)"></mat-paginator>
    </div>

  </div>
</div>




