/******** Tabel Format Area ********/

th {
  color: blue;
  font-weight: bold;
  align-content: center;
}

.table-arrea {
  display: flex;
  justify-content: center;
}
.table-wraper {
  width: 70%;
  margin-left: 20px;
  border: blue solid 2px;
  border-radius: 0.5em;
}
.filter-wrapper{
  display: flex;
  justify-content: center;
 }

.table-header{
  color: blue;
  font-weight: bold;
}
.id-column {
  width: 20px;
}
.name-column{
  width: 300px;
}
.img-column {
  width: 80px;
  height: 10px;
}
.description-column{
  width: 600px;
  max-height: 10px;
}
.category-column{
  width: 150px;
}
.price-column {
  width: 100px;
}
.action-column {
  width: 100px;
}

/********************************************************/

/******************** Tabel Action Icons Area *****************/

.delete-product-icon{
  color: red;
}
.edit-product-icon {
  color: green;
}
