

<div>
    <mat-card style="background-color: darkslateblue">
      <mat-card-title>Registration Form</mat-card-title>
      <hr>
      <form>
        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input matInput [(ngModel)]="user.email" name="email" type="email" ngModel email="true">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="user.password" name="password">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput [(ngModel)]="user.firstName" name="firstname">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="user.lastName" name="lastName">
        </mat-form-field>
        <br>
        <mat-form-field class="countryCityZipCode">
          <mat-label>Country</mat-label>
          <input matInput [(ngModel)]="user.address.country" name="coutry">
        </mat-form-field>
        <mat-form-field class="countryCityZipCode">
          <mat-label>City</mat-label>
          <input matInput [(ngModel)]="user.address.city" name="city">
        </mat-form-field>
        <mat-form-field class="countryCityZipCode">
          <mat-label>Zip Code</mat-label>
          <input matInput [(ngModel)]="user.address.zipCode" name="zipcode" type="number">
        </mat-form-field>
        <br>
        <mat-form-field class="address">
          <mat-label>Street</mat-label>
          <input matInput [(ngModel)]="user.address.street" name="street">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select name = "role" [(ngModel)]="user.role">
            <mat-option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
        <mat-label>Notification Type</mat-label>
        <mat-select name = "notification" [(ngModel)]="user.messagingChannel">
          <mat-option *ngFor="let notificationType of notificationOption" value="{{notificationType}}">{{notificationType}}</mat-option>
        </mat-select>
        </mat-form-field>
        <br>

<!--        <table>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <mat-form-field>-->
<!--                <mat-label>-->
<!--                First Name-->
<!--                </mat-label>-->
<!--                <input matInput>-->
<!--              </mat-form-field>-->
<!--            </td>-->
<!--            <td>-->
<!--              <mat-form-field>-->
<!--                <mat-label>-->
<!--                  Last Name-->
<!--                </mat-label>-->
<!--                <input matInput>-->
<!--              </mat-form-field>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <mat-form-field>-->
<!--                <mat-label>-->
<!--                 Coutry-->
<!--                </mat-label>-->
<!--                <input matInput>-->
<!--              </mat-form-field>-->
<!--            </td>-->
<!--            <td>-->
<!--              <mat-form-field>-->
<!--                <mat-label>-->
<!--                  City-->
<!--                </mat-label>-->
<!--                <input matInput>-->
<!--              </mat-form-field>-->
<!--            </td>-->
<!--            <td>-->
<!--              <mat-form-field>-->
<!--                <mat-label>-->
<!--                  ZipCode-->
<!--                </mat-label>-->
<!--                <input matInput>-->
<!--              </mat-form-field>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr class="addressDiv">-->
<!--            <mat-form-field class="address">-->
<!--              <mat-label>-->
<!--                Address-->
<!--              </mat-label>-->
<!--              <input matInput>-->
<!--            </mat-form-field>-->
<!--          </tr>-->
<!--        </table>-->
        <button mat-raised-button (click)="register()">Register</button>
      </form>
    </mat-card>
</div>
