mat-label{
  font-weight: bold;
  color: blue;
  font-size: 18px;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  /*-moz-transform: translate(-50%, -50%);*/
  /*-ms-transform: translate(-50%, -50%);*/
  /*-o-transform: translate(-50%, -50%);*/
  transform: translate(-50%, -50%);
}


mat-card-title {
  font-weight: bolder;
  font-size: 28px;
  color: blue;
}
input{
  color:  blue;
  width: 300px;
}

mat-card {
  border-radius: 20px;
}

.address {
  width: 600px;
}
mat-form-field{
 width: 300px;
}

.countryCityZipCode{
  width: 200px;
}

button{
  height: 25px;
  width: 100px;
  border-radius: 2em;
  border: blue solid 1px;
  color: blue;
cursor: pointer;
}
